!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		
		#target

		<?php foreach (glob("templates/*.php") as $filename){ include $filename; } ?>

		//- script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		//- script(type="text/javascript", src="js/tween.min.js")
		script(type="text/javascript", data-main="js/main", src="js/lib/require.js")
